/* node which was just created is red */
.node-created { color: red; }

/* the nodes in table */
table#tree-leveled td {
    text-align: center;
    vertical-align: top;
    border: 1px solid black;
} 

table#tree-leveled {
    border-collapse: collapse;
    border: 1px solid black;
}

table#tree-leveled tr.initializer {
    display: none;
}

form label.error {
    color: red;
}

